.vscode-test/
src/
scripts/run-headless-tests.js
scripts/build-extension.js
node_modules/
out/**/*.map
out/test/
out/**
!out/extension.js
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
list-vsix.ps1
.gitignore
.npmrc
.vscodeignore
tsconfig.json
vsc-extension-quickstart.md
**/*.vsix
